## Florida Department of Corrections: Contraband Seizures (2018-2020)
    
By: Shirsho Dasgupta (2022)

The code cleans up the datasets for contraband seizures and monthly inmate populations — for Florida, California and Texas' prison systems — and calculates the rates per 10,000 inmates of seized forbidden items. 

The data was used in the story "[How a ban on visitors impacted the smuggling of drugs into Florida prisons](https://www.miamiherald.com/news/special-reports/florida-prisons/article264165166.html)"

#### Note: 
1. A "contraband incident" refers to one where a forbidden item has been found. A single incident can refer to a search in which multiple forbidden items have been found. 

2. A state-by-state comparison was not computed because there are/may be differences between how the data is recorded in each state and exactly what items are forbidden. Moreover, Texas does not separately record the amounts and types of contraband found in each incident.

### Importing libraries

In [1]:
import time
import pandas as pd
import re

### Florida

#### Importing seizures dataset

In [2]:
florida_seizures = pd.read_csv("raw_records/florida/seizures.csv")

In [3]:
florida_seizures.head(8)

,"Contraband items seized January 1 2018 - December 31, 2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,Date Prepared: October 12 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau of Research & Data Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florida Department of Corrections,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,DATE REPORT ENTERED INTO MINS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,01-2018,NaN,02-2018,NaN,03-2018,NaN,04-2018,NaN,05-2018,...,08-2020,NaN,09-2020,NaN,10-2020,NaN,11-2020,NaN,12-2020,NaN
6,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,...,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN
7,NaN,N,Sum,N,Sum,N,Sum,N,Sum,N,...,N,Sum,N,Sum,N,Sum,N,Sum,N,Sum

In [4]:
florida_seizures.shape

(67, 73)

#### Cleaning seizures dataset

##### Removing first five rows, exporting dataset and then reimporting with new headers

In [5]:
### removes first five rows
florida_seizures_clean01 = florida_seizures.drop(florida_seizures.index[range(5)])

### exports dataframe
florida_seizures_clean01.to_csv("generated_files/florida/seizures_clean01.csv", header = False, index = False)

### imports dataframe making the sixth row in the original dataframe the column headers
florida_seizures = pd.read_csv("generated_files/florida/seizures_clean01.csv")

### displays dataframe
florida_seizures.head()

,Unnamed: 0,01-2018,Unnamed: 2,02-2018,Unnamed: 4,03-2018,Unnamed: 6,04-2018,Unnamed: 8,05-2018,...,08-2020,Unnamed: 64,09-2020,Unnamed: 66,10-2020,Unnamed: 68,11-2020,Unnamed: 70,12-2020,Unnamed: 72
0,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,...,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN
1,NaN,N,Sum,N,Sum,N,Sum,N,Sum,N,...,N,Sum,N,Sum,N,Sum,N,Sum,N,Sum
2,CONTRABAND,12,223,11,292,11,252,10,49,2,...,9,154,7,169,6,187,5,35,3,11
3,AMMUNITION - EACH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BATTERY PACK - EACH,62,75,59,98,38,47,42,63,54,...,16,26,19,28,21,35,24,26,23,35

In [6]:
### stores column names in a list and displays them
x = list(florida_seizures.columns)
print(x)

['Unnamed: 0', '01-2018', 'Unnamed: 2', '02-2018', 'Unnamed: 4', '03-2018', 'Unnamed: 6', '04-2018', 'Unnamed: 8', '05-2018', 'Unnamed: 10', '06-2018', 'Unnamed: 12', '07-2018', 'Unnamed: 14', '08-2018', 'Unnamed: 16', '09-2018', 'Unnamed: 18', '10-2018', 'Unnamed: 20', '11-2018', 'Unnamed: 22', '12-2018', 'Unnamed: 24', '01-2019', 'Unnamed: 26', '02-2019', 'Unnamed: 28', '03-2019', 'Unnamed: 30', '04-2019', 'Unnamed: 32', '05-2019', 'Unnamed: 34', '06-2019', 'Unnamed: 36', '07-2019', 'Unnamed: 38', '08-2019', 'Unnamed: 40', '09-2019', 'Unnamed: 42', '10-2019', 'Unnamed: 44', '11-2019', 'Unnamed: 46', '12-2019', 'Unnamed: 48', '01-2020', 'Unnamed: 50', '02-2020', 'Unnamed: 52', '03-2020', 'Unnamed: 54', '04-2020', 'Unnamed: 56', '05-2020', 'Unnamed: 58', '06-2020', 'Unnamed: 60', '07-2020', 'Unnamed: 62', '08-2020', 'Unnamed: 64', '09-2020', 'Unnamed: 66', '10-2020', 'Unnamed: 68', '11-2020', 'Unnamed: 70', '12-2020', 'Unnamed: 72']

##### Removing anomaly in first column-first two rows

The numbers in the third row (row-index: 2) actually corresponds to the fourth row ("AMMUNITION — EACH"). The second row is rewritten with new (future) column headers, the cells corresponding to column 0 and rows 1 and 2 are rewritten and finally the absolute first row (row-index: 0) and the fourth row (row-index: 3) are dropped.

In [7]:
### loop runs through each column
for i in range(1, len(x)):
    
    ### condition checks if column is even 
    rem = i%2
    if str(rem) != "0":
        
        ### rewrites cell as "<date> (N)" 
        col_name = str(x[i]) + " (N)"
        florida_seizures[x[i]][1] = col_name
    else:
        
        ### rewrites cell as "<date> (Amount)" 
        col_name = str(x[(i-1)]) + " (Amount)"
        florida_seizures[x[i]][1] = col_name

In [8]:
### rewrites specific cells
florida_seizures[x[0]][1] = "CONTRABAND/DATE"
florida_seizures[x[0]][2] = "AMMUNITION - EACH"

In [9]:
### displays dataframe
florida_seizures.head(6)

,Unnamed: 0,01-2018,Unnamed: 2,02-2018,Unnamed: 4,03-2018,Unnamed: 6,04-2018,Unnamed: 8,05-2018,...,08-2020,Unnamed: 64,09-2020,Unnamed: 66,10-2020,Unnamed: 68,11-2020,Unnamed: 70,12-2020,Unnamed: 72
0,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,...,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN,CONTRABAND QUANTITY,NaN
1,CONTRABAND/DATE,01-2018 (N),01-2018 (Amount),02-2018 (N),02-2018 (Amount),03-2018 (N),03-2018 (Amount),04-2018 (N),04-2018 (Amount),05-2018 (N),...,08-2020 (N),08-2020 (Amount),09-2020 (N),09-2020 (Amount),10-2020 (N),10-2020 (Amount),11-2020 (N),11-2020 (Amount),12-2020 (N),12-2020 (Amount)
2,AMMUNITION - EACH,12,223,11,292,11,252,10,49,2,...,9,154,7,169,6,187,5,35,3,11
3,AMMUNITION - EACH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BATTERY PACK - EACH,62,75,59,98,38,47,42,63,54,...,16,26,19,28,21,35,24,26,23,35
5,CALLING CARD - EACH,0,0,0,0,0,0,2,4,0,...,0,0,0,0,0,0,0,0,0,0

##### Removing first and fourth rows (indices 0 and 3), exporting dataset and then reimporting with new headers

In [10]:
### removes first and fourth (row indices 0 and 3) rows
florida_seizures_clean02 = florida_seizures.drop([0, 3])

### exports dataframe
florida_seizures_clean02.to_csv("generated_files/florida/seizures_clean02.csv", header = False, index = False)

### imports dataframe making the first row the column headers
florida_seizures = pd.read_csv("generated_files/florida/seizures_clean02.csv")

### displays results
florida_seizures.head(4)

,CONTRABAND/DATE,01-2018 (N),01-2018 (Amount),02-2018 (N),02-2018 (Amount),03-2018 (N),03-2018 (Amount),04-2018 (N),04-2018 (Amount),05-2018 (N),...,08-2020 (N),08-2020 (Amount),09-2020 (N),09-2020 (Amount),10-2020 (N),10-2020 (Amount),11-2020 (N),11-2020 (Amount),12-2020 (N),12-2020 (Amount)
0,AMMUNITION - EACH,12,223.0,11,292.0,11,252.0,10,49.0,2,...,9,154.0,7,169.0,6,187.0,5,35.0,3,11.0
1,BATTERY PACK - EACH,62,75.0,59,98.0,38,47.0,42,63.0,54,...,16,26.0,19,28.0,21,35.0,24,26.0,23,35.0
2,CALLING CARD - EACH,0,0.0,0,0.0,0,0.0,2,4.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,CAMERA - EACH,0,0.0,0,0.0,0,0.0,0,0.0,1,...,0,0.0,0,0.0,0,0.0,1,1.0,0,0.0

##### Rearranging, exporting dataset and then reimporting with new headers

In [11]:
### transposes dataframe
florida_seizures = florida_seizures.transpose()
florida_seizures.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
CONTRABAND/DATE,AMMUNITION - EACH,BATTERY PACK - EACH,CALLING CARD - EACH,CAMERA - EACH,CELL PHONE - EACH,CHARGER - EACH,CLUB - EACH,COCAINE (POWDER AND CRACK) - GRAMS,COINS - EACH,COMMERCIAL ALCOHOL - OUNCES,...,STG/GANG MAIL (INCOM/OUTGO) - EACH,SUBOXONE - EACH,SUBOXONE - GRAMS,SUBOXONE - OUNCES,TATTOO DEVICE - EACH,TATTOO DEVICE PARTS - EACH,TATTOO INKS - EACH,TOBACCO - GRAMS,UNAUTHORIZED MP3 PLAYER - EACH,USB DRIVE - EACH
01-2018 (N),12,62,0,0,461,190,4,18,0,7,...,2,39,0,0,6,2,2,178,1,4
01-2018 (Amount),223,75,0,0,741,361,6,42.45,0,489.4,...,4,210,0,0,6,13,2,55350.7,1,12
02-2018 (N),11,59,0,0,454,158,2,17,0,7,...,3,30,0,0,6,4,6,217,1,5
02-2018 (Amount),292,98,0,0,821,451,4,67.92,0,218.3,...,5,189.5,0,0,6,15,31,71667,1,7

In [12]:
### stores index into a variable
parameters = florida_seizures.index.tolist()

In [13]:
### creates new column at first position and writes the index field
florida_seizures.insert(0, "index", parameters)

### displays result
florida_seizures.head(3)

,index,0,1,2,3,4,5,6,7,8,...,48,49,50,51,52,53,54,55,56,57
CONTRABAND/DATE,CONTRABAND/DATE,AMMUNITION - EACH,BATTERY PACK - EACH,CALLING CARD - EACH,CAMERA - EACH,CELL PHONE - EACH,CHARGER - EACH,CLUB - EACH,COCAINE (POWDER AND CRACK) - GRAMS,COINS - EACH,...,STG/GANG MAIL (INCOM/OUTGO) - EACH,SUBOXONE - EACH,SUBOXONE - GRAMS,SUBOXONE - OUNCES,TATTOO DEVICE - EACH,TATTOO DEVICE PARTS - EACH,TATTOO INKS - EACH,TOBACCO - GRAMS,UNAUTHORIZED MP3 PLAYER - EACH,USB DRIVE - EACH
01-2018 (N),01-2018 (N),12,62,0,0,461,190,4,18,0,...,2,39,0,0,6,2,2,178,1,4
01-2018 (Amount),01-2018 (Amount),223,75,0,0,741,361,6,42.45,0,...,4,210,0,0,6,13,2,55350.7,1,12

In [14]:
### exports dataframe after removing the index and column header
florida_seizures.to_csv("generated_files/florida/seizures_clean03.csv", header = False, index = False)

### imports dataframe making the first row the column headers
florida_seizures = pd.read_csv("generated_files/florida/seizures_clean03.csv")

florida_seizures.head()

,CONTRABAND/DATE,AMMUNITION - EACH,BATTERY PACK - EACH,CALLING CARD - EACH,CAMERA - EACH,CELL PHONE - EACH,CHARGER - EACH,CLUB - EACH,COCAINE (POWDER AND CRACK) - GRAMS,COINS - EACH,...,STG/GANG MAIL (INCOM/OUTGO) - EACH,SUBOXONE - EACH,SUBOXONE - GRAMS,SUBOXONE - OUNCES,TATTOO DEVICE - EACH,TATTOO DEVICE PARTS - EACH,TATTOO INKS - EACH,TOBACCO - GRAMS,UNAUTHORIZED MP3 PLAYER - EACH,USB DRIVE - EACH
0,01-2018 (N),12.0,62.0,0.0,0.0,461.0,190.0,4.0,18.00,0.0,...,2.0,39.0,0.0,0.0,6.0,2.0,2.0,178.00,1.0,4.0
1,01-2018 (Amount),223.0,75.0,0.0,0.0,741.0,361.0,6.0,42.45,0.0,...,4.0,210.0,0.0,0.0,6.0,13.0,2.0,55350.72,1.0,12.0
2,02-2018 (N),11.0,59.0,0.0,0.0,454.0,158.0,2.0,17.00,0.0,...,3.0,30.0,0.0,0.0,6.0,4.0,6.0,217.00,1.0,5.0
3,02-2018 (Amount),292.0,98.0,0.0,0.0,821.0,451.0,4.0,67.92,0.0,...,5.0,189.5,0.0,0.0,6.0,15.0,31.0,71666.98,1.0,7.0
4,03-2018 (N),11.0,38.0,0.0,0.0,447.0,143.0,2.0,24.00,0.0,...,2.0,31.0,0.0,0.0,12.0,5.0,12.0,222.00,1.0,5.0

##### Performing final checks

In [15]:
### removes spaces from column names
florida_seizures.columns = florida_seizures.columns.str.strip().str.replace(" ", "")

### displays shape
florida_seizures.shape

(72, 59)

In [16]:
### stores and displays column names to check whether all spaces have been removed
cols = list(florida_seizures.columns)
print(cols)

['CONTRABAND/DATE', 'AMMUNITION-EACH', 'BATTERYPACK-EACH', 'CALLINGCARD-EACH', 'CAMERA-EACH', 'CELLPHONE-EACH', 'CHARGER-EACH', 'CLUB-EACH', 'COCAINE(POWDERANDCRACK)-GRAMS', 'COINS-EACH', 'COMMERCIALALCOHOL-OUNCES', 'COMMUNICATIONCAPABLEDEVICE-EACH', 'CREDIT/DEBIT/PHONECARD-EACH', 'CURRENCY-EACH', 'DRONE-EACH', 'DRUGPARAPHERNALIA-EACH', 'ESCAPEPARAPHERNALIA-EACH', 'EXCESSPROPERTY-EACH', 'FENTANYL/OXYCODONE-EACH', 'FENTANYL/OXYCODONE-GRAMS', 'FLAMMABLELIQUID-OUNCES', 'GANGTATTOOTEMPLATES-EACH', 'GUN-EACH', 'HANDCUFFKEY-EACH', 'HEROIN-GRAMS', 'HOMEMADEALCOHOL-EACH', 'HOMEMADEALCOHOL-OUNCES', 'K2(SYNTHETICCANNABINOID)-EACH', 'K2(SYNTHETICCANNABINOID)-GRAMS', 'LIGHTERS-EACH', 'LOCKINSOCK-EACH', 'MARIJUANA-GRAMS', 'MEDALLIONS/GANGSYMBOLS/TAGS-EACH', 'METHADRONE(BATHSALTS)-GRAMS', 'METHAMPHETAMINE/AMPHETAMINE-GRAMS', 'NAIL/SHARP-EACH', 'NARCOTICPILLS-EACH', 'OBSERVABLEGANGACTIVITY-EACH', 'OTHER-EACH', 'OTHER-GRAMS', 'PAPERWORK,BYLAWS-EACH', 'PORNOGRAPHY-EACH', 'PRESCRIPTIONMEDICATION-EACH', 'RAZORTYPEWEAPON-EACH', 'RECRUITMENTACTIVITIES-EACH', 'ROLLINGPAPERS-EACH', 'SHANK/BLADEDWEAPON-EACH', 'SIMSCARD-EACH', 'STAMPS-EACH', 'STG/GANGMAIL(INCOM/OUTGO)-EACH', 'SUBOXONE-EACH', 'SUBOXONE-GRAMS', 'SUBOXONE-OUNCES', 'TATTOODEVICE-EACH', 'TATTOODEVICEPARTS-EACH', 'TATTOOINKS-EACH', 'TOBACCO-GRAMS', 'UNAUTHORIZEDMP3PLAYER-EACH', 'USBDRIVE-EACH']

In [17]:
### displays shape
florida_seizures.shape

(72, 59)

#### Creating spreadsheets for seizure incidents and amounts of contraband seized

In [18]:
### creates spreadsheet to store number of incidents/seizures
with open("generated_files/florida/incidents.csv", "w") as f1:
    f1.write("MonthYear,Year,Ammunition,Battery,CallingCard,Camera,Cellphone,Charger,Club,Cocaine,Coins,CommercialAlcohol,CommunicationDevice,Credit/Debit/PhoneCard,Currency,Drone,Drug_Paraphernalia,Escape_Paraphernalia,Excess_Property,Fentanyl/Oxycodone,Fentanyl/Oxycodone(Grams),FlammableLiquid,TattooTemplates,Gun,HandcuffKey,Heroin,HomemadeAlcohol,HomemadeAlcohol(Ounces),K2,K2(Gram),Lighters,Lockinsock,Marijuana,Medallions,Methadrone,Meth,Narcotic_Pills,Other,Other(Gram),Paperwork,Porn,Prescription_Meds,Razor_Weapons,RollingPapers,Shank,SIM,Stamps,Gangmail,Suboxone,Suboxone(Gram),Suboxone(Ounces),Tattoo_Devices,Tattoo_Parts,Tattoo_Ink,Tobacco(Gram),MP3,USB,Total\n")

### creates spreadsheet to store amounts of contraband found   
with open("generated_files/florida/drugsalc.csv", "w") as f2:
    f2.write("MonthYear,Year,Cocaine,CommercialAlcohol,Fentanyl/Oxycodone,Fentanyl/Oxycodone(Gram),Heroin,HomemadeAlcohol,HomemadeAlcohol(Ounces),K2,K2(Gram),Marijuana,Methadrone(Gram),Meth(Gram),NarcoticPills,Prescription_Meds,Suboxone,Suboxone(Gram),Suboxone(Ounces),Ammunition,Club,Gun,Razor_Weapon,Shank_Weapon,TotalDrugs(Grams),TotalDrugs(Pills),Total_Alcohol(Ounces),TotalWeapons\n")

#### Defining loops to write into new spreadsheets

In [19]:
### loop runs through dataframe
for i in range(0, 72):
    
    ### checks if column is even
    if str(i%2) == "0":
        
        ### stores date as month-year (XX-YYYY)
        date = florida_seizures["CONTRABAND/DATE"][i][:7]
        
        ### stores year
        year = date[3:]
        
        ### stores number of seizure incidents
        ammo = florida_seizures["AMMUNITION-EACH"][i]
        battery = florida_seizures["BATTERYPACK-EACH"][i]
        calling_card = florida_seizures["CALLINGCARD-EACH"][i]
        camera = florida_seizures["CAMERA-EACH"][i]
        cellphone = florida_seizures["CELLPHONE-EACH"][i]
        charger = florida_seizures["CHARGER-EACH"][i]
        club = florida_seizures["CLUB-EACH"][i]
        cocaine = florida_seizures["COCAINE(POWDERANDCRACK)-GRAMS"][i]
        coins = florida_seizures["COINS-EACH"][i]
        comm_alcohol = florida_seizures["COMMERCIALALCOHOL-OUNCES"][i]
        comm_device = florida_seizures["COMMUNICATIONCAPABLEDEVICE-EACH"][i]
        cards = florida_seizures["CREDIT/DEBIT/PHONECARD-EACH"][i]
        currency = florida_seizures["CURRENCY-EACH"][i]
        drone = florida_seizures["DRONE-EACH"][i]
        drug_para = florida_seizures["DRUGPARAPHERNALIA-EACH"][i]
        escape_para = florida_seizures["ESCAPEPARAPHERNALIA-EACH"][i]
        excess_prop = florida_seizures["EXCESSPROPERTY-EACH"][i]
        fentanyl_oxy = florida_seizures["FENTANYL/OXYCODONE-EACH"][i]
        fentanyl_oxy_gram = florida_seizures["FENTANYL/OXYCODONE-GRAMS"][i]
        flam_liquid = florida_seizures["FLAMMABLELIQUID-OUNCES"][i]
        tattoo = florida_seizures["GANGTATTOOTEMPLATES-EACH"][i]
        gun = florida_seizures["GUN-EACH"][i]
        handcuff_key = florida_seizures["HANDCUFFKEY-EACH"][i]
        heroin = florida_seizures["HEROIN-GRAMS"][i]
        home_alcohol = florida_seizures["HOMEMADEALCOHOL-EACH"][i]
        home_alcohol_ounce = florida_seizures["HOMEMADEALCOHOL-OUNCES"][i]
        k2 = florida_seizures["K2(SYNTHETICCANNABINOID)-EACH"][i]
        k2_gram = florida_seizures["K2(SYNTHETICCANNABINOID)-GRAMS"][i]
        lighters = florida_seizures["LIGHTERS-EACH"][i]
        lockinsock = florida_seizures["LOCKINSOCK-EACH"][i]
        marijuana = florida_seizures["MARIJUANA-GRAMS"][i]
        medal = florida_seizures["MEDALLIONS/GANGSYMBOLS/TAGS-EACH"][i]
        methadrone_gram = florida_seizures["METHADRONE(BATHSALTS)-GRAMS"][i]
        meth_gram = florida_seizures["METHAMPHETAMINE/AMPHETAMINE-GRAMS"][i]
        narcotic_pills = florida_seizures["NARCOTICPILLS-EACH"][i]
        other = florida_seizures["OTHER-EACH"][i]
        other_gram = florida_seizures["OTHER-GRAMS"][i]
        paper = florida_seizures["PAPERWORK,BYLAWS-EACH"][i]
        porn = florida_seizures["PORNOGRAPHY-EACH"][i]
        presc_meds = florida_seizures["PRESCRIPTIONMEDICATION-EACH"][i]
        razor_weapon = florida_seizures["RAZORTYPEWEAPON-EACH"][i]
        rolling_paper = florida_seizures["ROLLINGPAPERS-EACH"][i]
        shank_weapon = florida_seizures["SHANK/BLADEDWEAPON-EACH"][i]
        sim_card = florida_seizures["SIMSCARD-EACH"][i]
        stamps = florida_seizures["STAMPS-EACH"][i]
        gang_mail = florida_seizures["STG/GANGMAIL(INCOM/OUTGO)-EACH"][i]
        suboxone = florida_seizures["SUBOXONE-EACH"][i]
        suboxone_gram = florida_seizures["SUBOXONE-GRAMS"][i]
        suboxone_ounce = florida_seizures["SUBOXONE-OUNCES"][i]
        tattoo_device = florida_seizures["TATTOODEVICE-EACH"][i]
        tattoo_parts = florida_seizures["TATTOODEVICEPARTS-EACH"][i]
        tattoo_ink = florida_seizures["TATTOOINKS-EACH"][i]
        tobacco_gram = florida_seizures["TOBACCO-GRAMS"][i]
        mp3 = florida_seizures["UNAUTHORIZEDMP3PLAYER-EACH"][i]
        usb = florida_seizures["USBDRIVE-EACH"][i]
        
        ### stores total of number of seizure incidents
        total = float(ammo + battery + calling_card + camera + cellphone + charger + club + cocaine + coins + comm_alcohol + comm_device + cards + currency + drone + drug_para + escape_para + excess_prop + fentanyl_oxy + fentanyl_oxy_gram + flam_liquid + tattoo + gun + handcuff_key + heroin + home_alcohol + home_alcohol_ounce + k2 + k2_gram + lighters + lockinsock + marijuana + medal + methadrone_gram + meth_gram + narcotic_pills + other + other_gram + paper + porn + presc_meds + razor_weapon + rolling_paper + shank_weapon + sim_card + stamps + gang_mail + suboxone + suboxone_gram + suboxone_ounce + tattoo_device + tattoo_parts + tattoo_ink + tobacco_gram + mp3 + usb)   
        
        ### writes into spreadsheet
        with open("generated_files/florida/incidents.csv", "a") as f1:
            f1.write(str(date) + "," + str(year) + "," + str(ammo) + "," + str(battery) + "," 
                + str(calling_card) + "," + str(camera) + "," + str(cellphone) + "," + str(charger) + "," 
                + str(club) + "," + str(cocaine) + ","  + str(coins) + "," + str(comm_alcohol) + "," 
                + str(comm_device) + "," + str(cards) + "," + str(currency) + "," + str(drone) + "," + str(drug_para) 
                + "," + str(escape_para) + "," + str(excess_prop) + "," + str(fentanyl_oxy) + "," + str(fentanyl_oxy_gram) 
                + "," + str(flam_liquid) + "," + str(tattoo) + "," + str(gun) + "," + str(handcuff_key) + "," 
                + str(heroin) + "," + str(home_alcohol) + "," + str(home_alcohol_ounce) + "," + str(k2) + "," 
                + str(k2_gram) + "," + str(lighters) + "," + str(lockinsock) + "," + str(marijuana) + "," + str(medal) 
                + "," + str(methadrone_gram) + "," + str(meth_gram) + "," + str(narcotic_pills) + "," + str(other) 
                + "," + str(other_gram) + "," + str(paper) + "," + str(porn) + "," + str(presc_meds) + "," 
                + str(razor_weapon) + "," + str(rolling_paper) + "," + str(shank_weapon) + "," + str(sim_card) + "," 
                + str(stamps) + "," + str(gang_mail) + "," + str(suboxone) + "," + str(suboxone_gram) + "," 
                + str(suboxone_ounce) + "," + str(tattoo_device) + "," + str(tattoo_parts) + "," + str(tattoo_ink) 
                + "," + str(tobacco_gram) + "," + str(mp3) + "," + str(usb) + "," + str(total) + "\n")
    
    ### if column is odd
    else: 
        
        ### stores date as month-year (XX-YYYY)
        date = florida_seizures["CONTRABAND/DATE"][i][:7]
        ### stores year
        year = date[3:]
        
        ### stores amounts of contraband seized
        cocaine = florida_seizures["COCAINE(POWDERANDCRACK)-GRAMS"][i]
        comm_alcohol = florida_seizures["COMMERCIALALCOHOL-OUNCES"][i]
        fentanyl_oxy = florida_seizures["FENTANYL/OXYCODONE-EACH"][i]
        fentanyl_oxy_gram = florida_seizures["FENTANYL/OXYCODONE-GRAMS"][i]
        heroin = florida_seizures["HEROIN-GRAMS"][i]
        home_alcohol = florida_seizures["HOMEMADEALCOHOL-EACH"][i]
        home_alcohol_ounce = florida_seizures["HOMEMADEALCOHOL-OUNCES"][i]
        k2 = florida_seizures["K2(SYNTHETICCANNABINOID)-EACH"][i]
        k2_gram = florida_seizures["K2(SYNTHETICCANNABINOID)-GRAMS"][i]
        marijuana = florida_seizures["MARIJUANA-GRAMS"][i]
        methadrone_gram = florida_seizures["METHADRONE(BATHSALTS)-GRAMS"][i]
        meth_gram = florida_seizures["METHAMPHETAMINE/AMPHETAMINE-GRAMS"][i]
        narcotic_pills = florida_seizures["NARCOTICPILLS-EACH"][i]
        presc_meds = florida_seizures["PRESCRIPTIONMEDICATION-EACH"][i]
        suboxone = florida_seizures["SUBOXONE-EACH"][i]
        suboxone_gram = florida_seizures["SUBOXONE-GRAMS"][i] 
        suboxone_ounce = florida_seizures["SUBOXONE-OUNCES"][i]
        ammo = florida_seizures["AMMUNITION-EACH"][i]
        club = florida_seizures["CLUB-EACH"][i]
        gun = florida_seizures["GUN-EACH"][i]
        razor_weapon = florida_seizures["RAZORTYPEWEAPON-EACH"][i]
        shank_weapon = florida_seizures["SHANK/BLADEDWEAPON-EACH"][i]
        
        ### stores total grams of drugs seized
        total_drugs_grams = cocaine + fentanyl_oxy_gram + heroin + k2_gram + marijuana + methadrone_gram + meth_gram + suboxone_gram
        ### stores total pills seized
        total_drugs_pills = fentanyl_oxy + k2 + narcotic_pills + presc_meds + suboxone 
        ### stores total ounces of alcohol seized
        total_alcohol = comm_alcohol + home_alcohol_ounce + suboxone_ounce
        ### stores total number of weapons seized
        total_weapons = ammo + club + gun + razor_weapon + shank_weapon
        
        ### writes into spreadsheet
        with open("generated_files/florida/drugsalc.csv", "a") as f2:
            f2.write(str(date) + "," + str(year) + "," + str(cocaine) + "," + str(comm_alcohol) + ","  
                + str(fentanyl_oxy) + "," + str(fentanyl_oxy_gram) + "," + str(heroin) + "," + str(home_alcohol) + "," 
                + str(home_alcohol_ounce) + "," + str(k2) + "," + str(k2_gram) + "," + str(marijuana)
                + "," + str(methadrone_gram) + "," + str(meth_gram) + "," + str(narcotic_pills) + "," + str(presc_meds) 
                + "," + str(suboxone) + "," + str(suboxone_gram) + "," + str(suboxone_ounce) + "," + str(ammo) + ","
                + str(club) + "," + str(gun) + "," + str(razor_weapon) + "," + str(shank_weapon) + "," +
                str(total_drugs_grams) + "," + str(total_drugs_pills) + "," + str(total_alcohol) + "," + 
                str(total_weapons) + "\n")

#### Importing seizures, contraband amounts and monthly inmate population datasets

In [20]:
florida_incidents = pd.read_csv("generated_Files/florida/incidents.csv")
florida_drugsalc = pd.read_csv("generated_Files/florida/drugsalc.csv")
florida_pop = pd.read_csv("raw_records/florida/inmate_pop.csv")

In [21]:
florida_incidents.head(4)

,MonthYear,Year,Ammunition,Battery,CallingCard,Camera,Cellphone,Charger,Club,Cocaine,...,Suboxone,Suboxone(Gram),Suboxone(Ounces),Tattoo_Devices,Tattoo_Parts,Tattoo_Ink,Tobacco(Gram),MP3,USB,Total
0,01-2018,2018,12.0,62.0,0.0,0.0,461.0,190.0,4.0,18.0,...,39.0,0.0,0.0,6.0,2.0,2.0,178.0,1.0,4.0,2225.0
1,02-2018,2018,11.0,59.0,0.0,0.0,454.0,158.0,2.0,17.0,...,30.0,0.0,0.0,6.0,4.0,6.0,217.0,1.0,5.0,2116.0
2,03-2018,2018,11.0,38.0,0.0,0.0,447.0,143.0,2.0,24.0,...,31.0,0.0,0.0,12.0,5.0,12.0,222.0,1.0,5.0,2229.0
3,04-2018,2018,10.0,42.0,2.0,0.0,381.0,119.0,3.0,27.0,...,29.0,0.0,0.0,11.0,7.0,4.0,212.0,4.0,6.0,2080.0

In [22]:
florida_drugsalc.head(4)

,MonthYear,Year,Cocaine,CommercialAlcohol,Fentanyl/Oxycodone,Fentanyl/Oxycodone(Gram),Heroin,HomemadeAlcohol,HomemadeAlcohol(Ounces),K2,...,Suboxone(Ounces),Ammunition,Club,Gun,Razor_Weapon,Shank_Weapon,TotalDrugs(Grams),TotalDrugs(Pills),Total_Alcohol(Ounces),TotalWeapons
0,01-2018,2018,42.45,489.40,0.0,5.20,29.30,0.0,26654.8,0.0,...,0.0,223.0,6.0,14.0,26.0,954.00,3919.75,398.20,27144.20,1223.00
1,02-2018,2018,67.92,218.30,0.0,1.01,14.00,0.0,16898.5,0.0,...,0.0,292.0,4.0,10.0,26.0,817.00,3222.57,487.50,17116.80,1149.00
2,03-2018,2018,159.33,164.76,0.0,894.11,8.93,0.0,19708.0,0.0,...,0.0,252.0,3.0,11.0,11.0,866.00,5439.75,718.75,19872.76,1143.00
3,04-2018,2018,290.38,733.60,0.0,3.00,11.13,0.0,14096.0,0.0,...,0.0,49.0,3.0,6.0,17.0,790.03,3455.82,508.00,14829.60,865.03

In [23]:
florida_pop.head(4)

     MONTH    POP
0  01-2018  96064
1  02-2018  96101
2  03-2018  96163
3  04-2018  96081

#### Renaming columns in inmate population dataset

In [24]:
florida_pop = florida_pop.rename(columns={"MONTH": "MonthYear", "POP": "Pop"})
florida_pop.head(4)

  MonthYear    Pop
0   01-2018  96064
1   02-2018  96101
2   03-2018  96163
3   04-2018  96081

#### Joining population dataset with seizure incidents and contra-band amounts datasets

In [25]:
florida_incidents = pd.merge(florida_incidents, florida_pop, on = "MonthYear", how = "left")
florida_drugsalc = pd.merge(florida_drugsalc, florida_pop, on = "MonthYear", how = "left")

#### Calculating rates

##### Seizure incidents

In [26]:
florida_incidents.head(4)

,MonthYear,Year,Ammunition,Battery,CallingCard,Camera,Cellphone,Charger,Club,Cocaine,...,Suboxone(Gram),Suboxone(Ounces),Tattoo_Devices,Tattoo_Parts,Tattoo_Ink,Tobacco(Gram),MP3,USB,Total,Pop
0,01-2018,2018,12.0,62.0,0.0,0.0,461.0,190.0,4.0,18.0,...,0.0,0.0,6.0,2.0,2.0,178.0,1.0,4.0,2225.0,96064
1,02-2018,2018,11.0,59.0,0.0,0.0,454.0,158.0,2.0,17.0,...,0.0,0.0,6.0,4.0,6.0,217.0,1.0,5.0,2116.0,96101
2,03-2018,2018,11.0,38.0,0.0,0.0,447.0,143.0,2.0,24.0,...,0.0,0.0,12.0,5.0,12.0,222.0,1.0,5.0,2229.0,96163
3,04-2018,2018,10.0,42.0,2.0,0.0,381.0,119.0,3.0,27.0,...,0.0,0.0,11.0,7.0,4.0,212.0,4.0,6.0,2080.0,96081

In [27]:
### creates new column to store rate
florida_incidents["Rate"] = " "

### loop runs through dataset
for i in range(0, len(florida_incidents)):
    
    ### calculates and writes rates in newly-created column
    florida_incidents["Rate"][i] = round(florida_incidents["Total"][i]/florida_incidents["Pop"][i] * 10000)

<ipython-input-27-26881f90d73a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_incidents["Rate"][i] = round(florida_incidents["Total"][i]/florida_incidents["Pop"][i] * 10000)

In [28]:
florida_incidents.head(4)

,MonthYear,Year,Ammunition,Battery,CallingCard,Camera,Cellphone,Charger,Club,Cocaine,...,Suboxone(Ounces),Tattoo_Devices,Tattoo_Parts,Tattoo_Ink,Tobacco(Gram),MP3,USB,Total,Pop,Rate
0,01-2018,2018,12.0,62.0,0.0,0.0,461.0,190.0,4.0,18.0,...,0.0,6.0,2.0,2.0,178.0,1.0,4.0,2225.0,96064,232
1,02-2018,2018,11.0,59.0,0.0,0.0,454.0,158.0,2.0,17.0,...,0.0,6.0,4.0,6.0,217.0,1.0,5.0,2116.0,96101,220
2,03-2018,2018,11.0,38.0,0.0,0.0,447.0,143.0,2.0,24.0,...,0.0,12.0,5.0,12.0,222.0,1.0,5.0,2229.0,96163,232
3,04-2018,2018,10.0,42.0,2.0,0.0,381.0,119.0,3.0,27.0,...,0.0,11.0,7.0,4.0,212.0,4.0,6.0,2080.0,96081,216

##### Contraband amounts seized

In [29]:
florida_drugsalc.head(4)

,MonthYear,Year,Cocaine,CommercialAlcohol,Fentanyl/Oxycodone,Fentanyl/Oxycodone(Gram),Heroin,HomemadeAlcohol,HomemadeAlcohol(Ounces),K2,...,Ammunition,Club,Gun,Razor_Weapon,Shank_Weapon,TotalDrugs(Grams),TotalDrugs(Pills),Total_Alcohol(Ounces),TotalWeapons,Pop
0,01-2018,2018,42.45,489.40,0.0,5.20,29.30,0.0,26654.8,0.0,...,223.0,6.0,14.0,26.0,954.00,3919.75,398.20,27144.20,1223.00,96064
1,02-2018,2018,67.92,218.30,0.0,1.01,14.00,0.0,16898.5,0.0,...,292.0,4.0,10.0,26.0,817.00,3222.57,487.50,17116.80,1149.00,96101
2,03-2018,2018,159.33,164.76,0.0,894.11,8.93,0.0,19708.0,0.0,...,252.0,3.0,11.0,11.0,866.00,5439.75,718.75,19872.76,1143.00,96163
3,04-2018,2018,290.38,733.60,0.0,3.00,11.13,0.0,14096.0,0.0,...,49.0,3.0,6.0,17.0,790.03,3455.82,508.00,14829.60,865.03,96081

In [30]:
### creates new columns to store rates
florida_drugsalc["Rate_Drugs(Grams)"] = " "
florida_drugsalc["Rate_Drugs(Pills)"] = " "
florida_drugsalc["Rate_Alcohol(Ounces)"] = " "
florida_drugsalc["Rate_Weapons"] = " "

### loop runs through dataset
for i in range(0, len(florida_drugsalc)):
    
    ### calculates and writes rates in newly-created column
    florida_drugsalc["Rate_Drugs(Grams)"][i] = round(florida_drugsalc["TotalDrugs(Grams)"][i]/florida_drugsalc["Pop"][i] * 10000)
    florida_drugsalc["Rate_Drugs(Pills)"][i] = round(florida_drugsalc["TotalDrugs(Pills)"][i]/florida_drugsalc["Pop"][i] * 10000)
    florida_drugsalc["Rate_Alcohol(Ounces)"][i] = round(florida_drugsalc["Total_Alcohol(Ounces)"][i]/florida_drugsalc["Pop"][i] * 10000)
    florida_drugsalc["Rate_Weapons"][i] = round(florida_drugsalc["TotalWeapons"][i]/florida_drugsalc["Pop"][i] * 10000)

<ipython-input-30-e3fca8654a3d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_drugsalc["Rate_Drugs(Grams)"][i] = round(florida_drugsalc["TotalDrugs(Grams)"][i]/florida_drugsalc["Pop"][i] * 10000)
<ipython-input-30-e3fca8654a3d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_drugsalc["Rate_Drugs(Pills)"][i] = round(florida_drugsalc["TotalDrugs(Pills)"][i]/florida_drugsalc["Pop"][i] * 10000)
<ipython-input-30-e3fca8654a3d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_drugsalc["Rate_Alcohol(Ounces)"][i] = round(florida_drugsalc["Total_Alcohol(Ounces)"][i]/florida_drugsalc["Pop"][i] * 10000)
<ipython-input-30-e3fca8654a3d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  florida_drugsalc["Rate_Weapons"][i] = round(florida_drugsalc["TotalWeapons"][i]/florida_drugsalc["Pop"][i] * 10000)

In [31]:
florida_drugsalc.head(4)

,MonthYear,Year,Cocaine,CommercialAlcohol,Fentanyl/Oxycodone,Fentanyl/Oxycodone(Gram),Heroin,HomemadeAlcohol,HomemadeAlcohol(Ounces),K2,...,Shank_Weapon,TotalDrugs(Grams),TotalDrugs(Pills),Total_Alcohol(Ounces),TotalWeapons,Pop,Rate_Drugs(Grams),Rate_Drugs(Pills),Rate_Alcohol(Ounces),Rate_Weapons
0,01-2018,2018,42.45,489.40,0.0,5.20,29.30,0.0,26654.8,0.0,...,954.00,3919.75,398.20,27144.20,1223.00,96064,408,41,2826,127
1,02-2018,2018,67.92,218.30,0.0,1.01,14.00,0.0,16898.5,0.0,...,817.00,3222.57,487.50,17116.80,1149.00,96101,335,51,1781,120
2,03-2018,2018,159.33,164.76,0.0,894.11,8.93,0.0,19708.0,0.0,...,866.00,5439.75,718.75,19872.76,1143.00,96163,566,75,2067,119
3,04-2018,2018,290.38,733.60,0.0,3.00,11.13,0.0,14096.0,0.0,...,790.03,3455.82,508.00,14829.60,865.03,96081,360,53,1543,90

#### Displaying results

In [32]:
### selects specific columns to display
florida_incidents_rates = florida_incidents[["MonthYear", "Year", "Pop", "Total", "Rate"]]

### renames columns 
florida_incidents_rates = florida_incidents_rates.rename(columns = {"Pop": "Florida_Pop", "Total": "Florida_Total", "Rate": "Florida_Incidents_Rate"})

In [33]:
florida_incidents_rates

   MonthYear  Year  Florida_Pop  Florida_Total Florida_Incidents_Rate
0    01-2018  2018        96064         2225.0                    232
1    02-2018  2018        96101         2116.0                    220
2    03-2018  2018        96163         2229.0                    232
3    04-2018  2018        96081         2080.0                    216
4    05-2018  2018        96196         2165.0                    225
5    06-2018  2018        96256         2203.0                    229
6    07-2018  2018        96273         1952.0                    203
7    08-2018  2018        96298         2262.0                    235
8    09-2018  2018        96145         1797.0                    187
9    10-2018  2018        95612         1919.0                    201
10   11-2018  2018        96020         1786.0                    186
11   12-2018  2018        95693         1844.0                    193
12   01-2019  2019        95721         2433.0                    254
13   02-2019  2019        95675         2038.0                    213
14   03-2019  2019        95757         2148.0                    224
15   04-2019  2019        95828         2519.0                    263
16   05-2019  2019        95781         2103.0                    220
17   06-2019  2019        95626         1874.0                    196
18   07-2019  2019        95526         2161.0                    226
19   08-2019  2019        95021         2073.0                    218
20   09-2019  2019        94973         1991.0                    210
21   10-2019  2019        95098         2425.0                    255
22   11-2019  2019        94706         1720.0                    182
23   12-2019  2019        94195         1937.0                    206
24   01-2020  2020        93941         2156.0                    230
25   02-2020  2020        93870         2007.0                    214
26   03-2020  2020        92876         1758.0                    189
27   04-2020  2020        91131         1649.0                    181
28   05-2020  2020        89196         1534.0                    172
29   06-2020  2020        87737         1559.0                    178
30   07-2020  2020        85835         1339.0                    156
31   08-2020  2020        84610         1328.0                    157
32   09-2020  2020        82918         1465.0                    177
33   10-2020  2020        82029         1655.0                    202
34   11-2020  2020        80690         1710.0                    212
35   12-2020  2020        79525         1741.0                    219

In [34]:
### selects specific columns to display
florida_drugsalc_rates = florida_drugsalc[["MonthYear", "Year", "Rate_Drugs(Grams)", "Rate_Drugs(Pills)", "Rate_Alcohol(Ounces)", "Rate_Weapons"]]

### renames columns
florida_drugsalc_rates = florida_drugsalc_rates.rename(columns = {"Rate_Drugs(Grams)": "Florida_Rate_Drugs(Grams)", "Rate_Drugs(Pills)": "Florida_Rate_Drugs(Pills)", "Rate_Alcohol(Ounces)": "Florida_Rate_Alcohol(Ounces)", "Rate_Weapons": "Florida_Rate_Weapons"})

In [35]:
florida_drugsalc_rates

,MonthYear,Year,Florida_Rate_Drugs(Grams),Florida_Rate_Drugs(Pills),Florida_Rate_Alcohol(Ounces),Florida_Rate_Weapons
0,01-2018,2018,408,41,2826,127
1,02-2018,2018,335,51,1781,120
2,03-2018,2018,566,75,2067,119
3,04-2018,2018,360,53,1543,90
4,05-2018,2018,500,37,1734,114
5,06-2018,2018,382,95,3096,154
6,07-2018,2018,301,35,1812,102
7,08-2018,2018,480,53,3141,135
8,09-2018,2018,340,87,1660,105
9,10-2018,2018,360,51,2234,100
10,11-2018,2018,313,35,2823,87
11,12-2018,2018,356,13,3224,90
12,01-2019,2019,467,92,4286,146
13,02-2019,2019,364,57,3024,112
14,03-2019,2019,408,43,2359,107
15,04-2019,2019,459,40,4682,97
16,05-2019,2019,346,66,3701,77
17,06-2019,2019,341,141,2654,69
18,07-2019,2019,391,68,2759,96
19,08-2019,2019,388,99,2875,90
20,09-2019,2019,360,130,2594,103
21,10-2019,2019,556,84,2500,82
22,11-2019,2019,350,44,2160,66
23,12-2019,2019,446,86,3152,57
24,01-2020,2020,604,194,1925,79
25,02-2020,2020,611,110,1996,63
26,03-2020,2020,412,75,3025,81
27,04-2020,2020,469,145,1497,63
28,05-2020,2020,296,128,3506,79
29,06-2020,2020,485,177,3682,69
30,07-2020,2020,507,175,1769,63
31,08-2020,2020,380,156,1730,62
32,09-2020,2020,643,158,2340,83
33,10-2020,2020,819,166,2825,96
34,11-2020,2020,891,187,3271,71
35,12-2020,2020,908,168,3855,77

### Texas

#### Importing seizures dataset

In [36]:
texas_seizures = pd.read_csv("raw_records/texas/seizures.csv")

In [37]:
texas_seizures.head()

,MONTH,CELLPHONES,CHARGERS,BATTERIES,SIM CARDS,MONEY,TOBACCO,MARIJUANA,ILLEGAL DRUGS,WEAPONS,ALCOHOL,K-2
0,01-2018,78,55,11,1,6,10,12,7,125,73,67
1,02-2018,98,76,12,5,4,9,6,11,124,64,62
2,03-2018,86,76,6,8,7,8,17,9,183,60,88
3,04-2018,76,50,7,8,12,6,6,12,117,53,60
4,05-2018,71,55,8,13,11,9,6,10,140,64,64

#### Calculating incident totals

In [38]:
### creates new column to store total incidents
texas_seizures["TOTAL"] = " "

### loop runs through dataset
for i in range(0, len(texas_seizures)):
    
    ### adds up incident totals and writes into the newly-created column
    texas_seizures["TOTAL"][i] = texas_seizures["CELLPHONES"][i] + texas_seizures["CHARGERS"][i] + texas_seizures["BATTERIES"][i] + texas_seizures["SIM CARDS"][i] + texas_seizures["MONEY"][i] + texas_seizures["TOBACCO"][i] + texas_seizures["MARIJUANA"][i] + texas_seizures["ILLEGAL DRUGS"][i] + texas_seizures["WEAPONS"][i] + texas_seizures["ALCOHOL"][i] + texas_seizures["K-2"][i]

<ipython-input-38-30c5a79b6389>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_seizures["TOTAL"][i] = texas_seizures["CELLPHONES"][i] + texas_seizures["CHARGERS"][i] + texas_seizures["BATTERIES"][i] + texas_seizures["SIM CARDS"][i] + texas_seizures["MONEY"][i] + texas_seizures["TOBACCO"][i] + texas_seizures["MARIJUANA"][i] + texas_seizures["ILLEGAL DRUGS"][i] + texas_seizures["WEAPONS"][i] + texas_seizures["ALCOHOL"][i] + texas_seizures["K-2"][i]

In [39]:
### converts "TOTAL" column to integer datatype (from object type) to handle chain-indexing (see: Setting With Copy)
texas_seizures["TOTAL"] = texas_seizures["TOTAL"].astype(int)

In [40]:
### renames column names
texas_seizures = texas_seizures.rename(columns = {"MONTH": "MonthYear", "CELLPHONES": "Cellphones", "CHARGERS": "Chargers", "BATTERIES": "Batteries", "SIM CARDS": "SIM Cards", "MONEY": "Money", "TOBACCO": "Tobacco", "MARIJUANA": "Marijuana", "ILLEGAL DRUGS": "Illegal_Drugs", "WEAPONS": "Weapons", "ALCOHOL": "Alcohol", "TOTAL": "Total"})

In [41]:
### creates new column to store year
texas_seizures["Year"] = " "

### loop runs through dataset
for i in range(0, len(texas_seizures)):
    
    ### extracts and stores year
    texas_seizures["Year"][i] = texas_seizures["MonthYear"][i][3:]

<ipython-input-41-2c731206bf4e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_seizures["Year"][i] = texas_seizures["MonthYear"][i][3:]

In [42]:
texas_seizures.head()

,MonthYear,Cellphones,Chargers,Batteries,SIM Cards,Money,Tobacco,Marijuana,Illegal_Drugs,Weapons,Alcohol,K-2,Total,Year
0,01-2018,78,55,11,1,6,10,12,7,125,73,67,445,2018
1,02-2018,98,76,12,5,4,9,6,11,124,64,62,471,2018
2,03-2018,86,76,6,8,7,8,17,9,183,60,88,548,2018
3,04-2018,76,50,7,8,12,6,6,12,117,53,60,407,2018
4,05-2018,71,55,8,13,11,9,6,10,140,64,64,451,2018

#### Importing monthly inmate population dataset

In [43]:
texas_pop = pd.read_csv("raw_records/texas/inmate_pop.csv")

In [44]:
texas_pop.head()

     MONTH  INMATE_POP
0  01-2018      145154
1  02-2018      145399
2  03-2018      145451
3  04-2018      145383
4  05-2018      145398

In [45]:
### renames column headers
texas_pop = texas_pop.rename(columns = {"MONTH": "MonthYear", "INMATE_POP": "Pop"})

In [46]:
texas_pop.head(4)

  MonthYear     Pop
0   01-2018  145154
1   02-2018  145399
2   03-2018  145451
3   04-2018  145383

#### Joining population dataset with seizure incidents

In [47]:
texas_incidents = pd.merge(texas_seizures, texas_pop, on = "MonthYear", how = "left")

In [48]:
texas_incidents.head(3)

,MonthYear,Cellphones,Chargers,Batteries,SIM Cards,Money,Tobacco,Marijuana,Illegal_Drugs,Weapons,Alcohol,K-2,Total,Year,Pop
0,01-2018,78,55,11,1,6,10,12,7,125,73,67,445,2018,145154
1,02-2018,98,76,12,5,4,9,6,11,124,64,62,471,2018,145399
2,03-2018,86,76,6,8,7,8,17,9,183,60,88,548,2018,145451

#### Calculating rates

In [49]:
### creates new columns to store rates
texas_incidents["Rate"] = " "

### loop runs through rows
for i in range(0, len(texas_incidents)):
    
    ### calculates rate and writes into newly created column
    texas_incidents["Rate"][i] = round(texas_incidents["Total"][i]/texas_incidents["Pop"][i] * 10000)

<ipython-input-49-62f4e15c5df5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_incidents["Rate"][i] = round(texas_incidents["Total"][i]/texas_incidents["Pop"][i] * 10000)

In [50]:
texas_incidents.head()

,MonthYear,Cellphones,Chargers,Batteries,SIM Cards,Money,Tobacco,Marijuana,Illegal_Drugs,Weapons,Alcohol,K-2,Total,Year,Pop,Rate
0,01-2018,78,55,11,1,6,10,12,7,125,73,67,445,2018,145154,31
1,02-2018,98,76,12,5,4,9,6,11,124,64,62,471,2018,145399,32
2,03-2018,86,76,6,8,7,8,17,9,183,60,88,548,2018,145451,38
3,04-2018,76,50,7,8,12,6,6,12,117,53,60,407,2018,145383,28
4,05-2018,71,55,8,13,11,9,6,10,140,64,64,451,2018,145398,31

#### Displaying results

In [51]:
### selects specific columns to display
texas_incidents_rates = texas_incidents[["MonthYear", "Year", "Pop", "Total", "Rate"]]

### renames columns
texas_incidents_rates = texas_incidents_rates.rename(columns = {"Pop": "Texas_Pop", "Total": "Texas_Total", "Rate": "Texas_Incidents_Rate"})

In [52]:
texas_incidents_rates

   MonthYear  Year  Texas_Pop  Texas_Total Texas_Incidents_Rate
0    01-2018  2018     145154          445                   31
1    02-2018  2018     145399          471                   32
2    03-2018  2018     145451          548                   38
3    04-2018  2018     145383          407                   28
4    05-2018  2018     145398          451                   31
5    06-2018  2018     145119          425                   29
6    07-2018  2018     145113          521                   36
7    08-2018  2018     145078          506                   35
8    09-2018  2018     145189          645                   44
9    10-2018  2018     145562          604                   41
10   11-2018  2018     145362          563                   39
11   12-2018  2018     145082          487                   34
12   01-2019  2019     145402          659                   45
13   02-2019  2019     144659          506                   35
14   03-2019  2019     144226          565                   39
15   04-2019  2019     143922          593                   41
16   05-2019  2019     143826          672                   47
17   06-2019  2019     143473          663                   46
18   07-2019  2019     143473          723                   50
19   08-2019  2019     142230          776                   55
20   09-2019  2019     142048          793                   56
21   10-2019  2019     142378          621                   44
22   11-2019  2019     142038          594                   42
23   12-2019  2019     141549          471                   33
24   01-2020  2020     140819          594                   42
25   02-2020  2020     140419          661                   47
26   03-2020  2020     140124          474                   34
27   04-2020  2020     135833          401                   30
28   05-2020  2020     131483          427                   32
29   06-2020  2020     126590          603                   48
30   07-2020  2020     124179          698                   56
31   08-2020  2020     121128          661                   55
32   09-2020  2020     120709         1073                   89
33   10-2020  2020     122177          970                   79
34   11-2020  2020     121876          602                   49
35   12-2020  2020     120873          661                   55

### California

#### Importing seizures datasets

California maintains two separate datasets for contraband seizures — searches carried out manually and those carried out by canine units.

In [53]:
calif_k9 = pd.read_csv("raw_records/california/seizures_k9.csv")
calif_mddl = pd.read_csv("raw_records/california/seizures_mddl.csv")

In [54]:
calif_k9.head(3)

,SearchDate,MonthYear,Institution,CellPhone_Disc,CellPhone_Amnt,Cocaine_Disc,Cocaine_Amnt (Grams),Hash_Disc,Hash_Amnt (Grams),Heroin_Disc,...,Methamphetamine_Disc,Methamphetamine_Amnt (Grams),Tobacco_Disc,Tobacco_Amnt (Grams),ButaneHoneyOil_Disc,ButaneHoneyOil_Amnt (Grams),Suboxone_Disc,Suboxone_Amnt (Grams),Fentanyl_Disc,Fentanyl_Amnt (Grams)
0,Jan-18,01-2018,ASP,0,0,0,0.0,0,0.0,0,...,0,0.00,0,0.0,0,0,0,0,0,0
1,Jan-18,01-2018,CAC,0,0,0,0.0,0,0.0,0,...,0,0.00,0,0.0,0,0,0,0,0,0
2,Jan-18,01-2018,CAL,7,16,0,0.0,0,0.0,2,...,1,0.17,0,0.0,0,0,0,0,0,0

In [55]:
calif_k9.shape

(1260, 23)

In [56]:
calif_mddl.head(3)

,SearchDate,MonthYear,Institution,CellPhone_Disc,CellPhone_Amnt,Cocaine_Disc,Cocaine_Amnt (Grams),Hash_Disc,Hash_Amnt (Grams),Heroin_Disc,...,Methamphetamine_Disc,Methamphetamine_Amnt (Grams),Tobacco_Disc,Tobacco_Amnt (Grams),ButaneHoneyOil_Disc,ButaneHoneyOil_Amnt (Grams),Suboxone_Disc,Suboxone_Amnt (Grams),Fentanyl_Disc,Fentanyl_Amnt (Grams)
0,Jan-18,01-2018,ASP,2,3.0,0,0.0,0,0.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,Jan-18,01-2018,CAC,11,12.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,Jan-18,01-2018,CAL,63,78.0,0,0.0,0,0.0,10,...,2,3.8,1,6.0,0,0.0,0,0.0,0,0.0

In [57]:
calif_mddl.shape

(1260, 23)

#### Creating facility-specific spreadsheets to store total seizures incidents and amounts of contraband seized

In [58]:
### creates spreadsheet to store number of seizures 
with open("generated_files/california/raw_incidents.csv", "w") as f3:
    f3.write("SearchDate,MonthYear,Institution,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total\n")

### creates spreadsheet to store amounts of drugs found   
with open("generated_files/california/raw_drugs.csv", "w") as f4:
    f4.write("SearchDate,MonthYear,Institution,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total\n")

#### Defining loops to store incident numbers and seizure amounts

##### Storing seizure incidents

In [59]:
### loop runs through each row of either spreadsheet (both have same number of rows)
for i in range (0, len(calif_k9)):
    
    ### stores date
    date = calif_k9["SearchDate"][i]
    ### stores date as month-year (MM-YYYY)
    month_year = calif_k9["MonthYear"][i]
    
    ### stores institution name
    institution = calif_k9["Institution"][i]
    
    ### adds up seizure incidents from both canine and manual search datasets and stores the value
    cellphones = calif_k9["CellPhone_Disc"][i] + calif_mddl["CellPhone_Disc"][i]
    cocaine = calif_k9["Cocaine_Disc"][i] + calif_mddl["Cocaine_Disc"][i]
    hashish = calif_k9["Hash_Disc"][i] + calif_mddl["Hash_Disc"][i]
    heroin = calif_k9["Heroin_Disc"][i] + calif_mddl["Heroin_Disc"][i]
    marijuana = calif_k9["Marijuana_Disc"][i] + calif_mddl["Marijuana_Disc"][i]
    meth = calif_k9["Methamphetamine_Disc"][i] + calif_mddl["Methamphetamine_Disc"][i]
    tobacco = calif_k9["Tobacco_Disc"][i] + calif_mddl["Tobacco_Disc"][i]
    butane_oil = calif_k9["ButaneHoneyOil_Disc"][i] + calif_mddl["ButaneHoneyOil_Disc"][i]
    suboxone = calif_k9["Suboxone_Disc"][i] + calif_mddl["Suboxone_Disc"][i]
    fentanyl = calif_k9["Fentanyl_Disc"][i] + calif_mddl["Fentanyl_Disc"][i]
    
    ### stores total of all seizures
    total = cellphones + cocaine + hashish + heroin + marijuana + meth + tobacco + butane_oil + suboxone + fentanyl
    
    ### writes into spreadsheet
    with open("generated_files/california/raw_incidents.csv", "a") as f3:
                f3.write(str(date) + "," + str(month_year) + "," + str(institution) + "," + str(cellphones) + "," 
                  + str(cocaine) + "," + str(hashish) + "," + str(heroin) + "," + str(marijuana) + "," 
                  + str(meth) + "," + str(tobacco) + ","  + str(butane_oil) + "," + str(suboxone) + "," 
                  + str(fentanyl) + "," + str(total) + "\n")

##### Storing contraband amounts

In [60]:
### loop runs through each row of either spreadsheet (both have same number of rows)
for i in range (0, 1260):
    
    ### stores date
    date = calif_k9["SearchDate"][i]
    ### stores date as month-year (MM-YYYY)
    month_year = calif_k9["MonthYear"][i]
    
    ### stores institution name
    institution = calif_k9["Institution"][i]
    
    ### adds up seizure amounts from both canine and manual search datasets and stores the value
    cocaine = calif_k9["Cocaine_Amnt (Grams)"][i] + calif_mddl["Cocaine_Amnt (Grams)"][i]
    hashish = calif_k9["Hash_Amnt (Grams)"][i] + calif_mddl["Hash_Amnt (Grams)"][i]
    heroin = calif_k9["Heroin_Amnt (Grams)"][i] + calif_mddl["Heroin_Amnt (Grams)"][i]
    marijuana = calif_k9["Marijuana_Amnt (Grams)"][i] + calif_mddl["Marijuana_Amnt (Grams)"][i]
    meth = calif_k9["Methamphetamine_Amnt (Grams)"][i] + calif_mddl["Methamphetamine_Amnt (Grams)"][i]
    butane_oil = calif_k9["ButaneHoneyOil_Amnt (Grams)"][i] + calif_mddl["ButaneHoneyOil_Amnt (Grams)"][i]
    suboxone = calif_k9["Suboxone_Amnt (Grams)"][i] + calif_mddl["Suboxone_Amnt (Grams)"][i]
    fentanyl = calif_k9["Fentanyl_Amnt (Grams)"][i] + calif_mddl["Fentanyl_Amnt (Grams)"][i]
    
    ### stores total amount seized
    total = cocaine + hashish + heroin + marijuana + meth + butane_oil + suboxone + fentanyl
    
    ### writes into spreadsheet
    with open("generated_files/california/raw_drugs.csv", "a") as f4:
                f4.write(str(date) + "," + str(month_year) + "," + str(institution) + "," 
                  + str(cocaine) + "," + str(hashish) + "," + str(heroin) + "," + str(marijuana) + "," 
                  + str(meth) + "," + str(butane_oil) + "," + str(suboxone) + "," 
                  + str(fentanyl) + "," + str(total) + "\n")

#### Importing newly written facility-specific seizures and monthly-inmate population datasets

In [61]:
calif_pop = pd.read_csv("raw_records/california/inmate_pop.csv")
calif_rawincidents = pd.read_csv("generated_files/california/raw_incidents.csv")
calif_rawdrugs = pd.read_csv("generated_files/california/raw_drugs.csv")

In [62]:
calif_pop.head(4)

     Date MonthYear Institution  Population
0  Jan-18   01-2018         ASP        4157
1  Jan-18   01-2018         CAC        2401
2  Jan-18   01-2018         CAL        3699
3  Jan-18   01-2018         CCC        4443

In [63]:
calif_rawincidents.head(4)

,SearchDate,MonthYear,Institution,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total
0,Jan-18,01-2018,ASP,2,0,0,1,1,0,0,0,0,0,4
1,Jan-18,01-2018,CAC,11,0,0,0,0,0,0,0,0,0,11
2,Jan-18,01-2018,CAL,70,0,0,12,5,3,1,0,0,0,91
3,Jan-18,01-2018,CCC,64,0,1,0,13,3,11,0,0,0,92

In [64]:
calif_rawdrugs.head(4)

,SearchDate,MonthYear,Institution,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total
0,Jan-18,01-2018,ASP,0.0,0.0,0.20,2.60,0.00,0.0,0.0,0.0,2.80
1,Jan-18,01-2018,CAC,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00
2,Jan-18,01-2018,CAL,0.0,0.0,571.42,213.34,3.97,0.0,0.0,0.0,788.73
3,Jan-18,01-2018,CCC,0.0,1.8,0.00,4990.79,1.90,0.0,0.0,0.0,4994.49

#### Creating new spreadsheets to store overall numbers

In [65]:
### stores aggregate incidents for each month
with open("generated_files/california/calif_incidents.csv", "w") as f5:
    f5.write("MonthYear,Year,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total\n")

### stores aggregate amounts of seized drugs for each month    
with open("generated_files/california/calif_drugs.csv", "w") as f6:
    f6.write("MonthYear,Year,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total\n") 

### stores total population in prison system for each month    
with open("generated_files/california/inmate_pop.csv", "w") as f7: 
    f7.write("MonthYear,Year,Population\n")

#### Defining methods to calculate and store aggregate values for monthly incident values, drug amounts and inmate population

##### Method to compute aggregate incidents for each month

In [66]:
def getMonthlyIncidentTotals(date):
    
    ### loop runs through each row 
    for row in range(0, 1260): 
        
        ### stores the date in mm-yyyy format and extracts and stores the year 
        monthyear = date
        year = monthyear[3:]
        
        ### performs an add-by-column-values:
        ### if the value in the "MonthYear" column matches with that being checked, 
        ### the values in the cellphone, cocaine etc. columns are added
        cellphone = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "CellPhone"].sum()
        cocaine = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Cocaine"].sum()
        hashish = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Hash"].sum()
        heroin = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Heroin"].sum()
        marijuana = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Marijuana"].sum()
        meth = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Methamphetamine"].sum()
        tobacco = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Tobacco"].sum()
        butane_oil = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Butane_Oil"].sum()
        suboxone = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Suboxone"].sum()
        fentanyl = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Fentanyl"].sum()
        
        ### adds up all the incidents and stores the value
        total = calif_rawincidents.loc[calif_rawincidents["MonthYear"] == date, "Total"].sum()
    
    ### writes into spreadsheet
    with open("generated_files/california/calif_incidents.csv", "a") as f5:
        f5.write(str(monthyear) + "," + str(year) + "," + str(cellphone) + "," + str(cocaine) + "," + str(hashish) + "," 
                 + str(heroin) + "," + str(marijuana) + "," + str(meth) + "," + str(tobacco) + "," + str(butane_oil) + "," 
                 + str(suboxone) + "," + str(fentanyl) + "," + str(total) + "\n")

##### Method to calculate aggregate drug seizures for each month

In [67]:
def getMonthlyDrugTotals(date):
    
    ### loop runs through each row 
    for row in range(0, 1260): 
        
        ### stores the date in mm-yyyy format and extracts and stores the year 
        monthyear = date
        year = monthyear[3:]
        
        ### performs an add-by-column-values:
        ### if the value in the "MonthYear" column matches with that being checked, 
        ### the values in the "Cellphone", "Cocaine" etc. columns are added
        cocaine = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Cocaine"].sum()
        hashish = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Hash"].sum()
        heroin = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Heroin"].sum()
        marijuana = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Marijuana"].sum()
        meth = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Methamphetamine"].sum()
        butane_oil = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Butane_Oil"].sum()
        suboxone = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Suboxone"].sum()
        fentanyl = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Fentanyl"].sum()
        
        ### adds up all the incidents and stores the value after rounding-off to two decimal places
        total = calif_rawdrugs.loc[calif_rawdrugs["MonthYear"] == date, "Total"].sum().round(2) 
    
    ### writes into spreadsheet
    with open("generated_files/california/calif_drugs.csv", "a") as f6:
        f6.write(str(monthyear) + "," + str(year) + "," + str(cocaine) + "," + str(hashish) + "," + str(heroin) + "," 
               + str(marijuana) + "," + str(meth) + "," + str(butane_oil) + "," + str(suboxone) + "," 
               + str(fentanyl) + "," + str(total) + "\n")

##### Method to calculate the aggregate inmate population for each month

In [68]:
def getMonthlyPopulation(date):
    
    ### loop runs through each row 
    for row in range(0, 1260):
        
        ### stores the date in mm-yyyy format and extracts and stores the year
        monthyear = date
        year = monthyear[3:]
        
        ### performs an add-by-column-values:
        ### if the value in the "MonthYear" column matches with that being checked, 
        ### the values in the "Population" column are added
        pop = calif_pop.loc[calif_pop["MonthYear"] == date, "Population"].sum()
    
    ### writes into spreadsheet
    with open("generated_files/california/inmate_pop.csv", "a") as f5:
        f5.write(str(monthyear) + "," + str(year) + "," + str(pop) + "\n")

#### Calling methods to create monthly aggregate spreadsheets

In [69]:
## loop runs through each month from 2018 to 2020 in mm-yyyy format and calls the methods to create the spreadsheets

### loop runs through each year from 2018 to 2020
for i in range (2018, 2021):
    
    ### loop runs through each month, stores value in mm-yyyy format and calls methods
    for j in range (1, 13):
        
        ### if month number is greater than 9 the value is stored as a straight concatenation
        if j > 9:
            date = str(j) + "-" + str(i)
            
            ### calls methods for the dates
            getMonthlyIncidentTotals(date)
            getMonthlyDrugTotals(date)
            getMonthlyPopulation(date)
        
        ### if month number is less than or equal to 9, a zero is added before the concatenation
        else:
            date = "0" + str(j) + "-" + str(i)
            
            ### calls methods for the dates
            getMonthlyIncidentTotals(date)
            getMonthlyDrugTotals(date)
            getMonthlyPopulation(date)

#### Importing the newly created spreadsheets

In [70]:
calif_seizures = pd.read_csv("generated_files/california/calif_incidents.csv")
calif_drugs = pd.read_csv("generated_files/california/calif_drugs.csv")
calif_pop = pd.read_csv("generated_files/california/inmate_pop.csv")

In [71]:
calif_seizures.head()

,MonthYear,Year,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total
0,01-2018,2018,710,3,2,99,141,88,71,0,0,0,1114
1,02-2018,2018,614,1,1,91,105,104,70,2,0,0,988
2,03-2018,2018,727,3,3,110,157,111,85,12,0,0,1208
3,04-2018,2018,632,2,1,92,148,108,83,8,0,0,1074
4,05-2018,2018,662,0,3,120,161,114,56,6,0,0,1122

In [72]:
calif_drugs.head()

,MonthYear,Year,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total
0,01-2018,2018,67.60,1.81,1324.8720,8301.861,1117.163,0.000,0.0,0.0,10813.31
1,02-2018,2018,234.60,0.60,1579.3230,2448.614,2393.541,8.400,0.0,0.0,6665.08
2,03-2018,2018,6.20,741.80,1090.3116,7079.928,1896.368,105.760,0.0,0.0,10920.37
3,04-2018,2018,18.81,0.48,771.7991,1608.362,1651.101,93.374,0.0,0.0,4143.93
4,05-2018,2018,0.00,16.05,859.6560,3709.666,1066.760,23.040,0.0,0.0,5675.17

In [73]:
calif_pop.head()

  MonthYear  Year  Population
0   01-2018  2018      119828
1   02-2018  2018      119760
2   03-2018  2018      120263
3   04-2018  2018      120119
4   05-2018  2018      120720

#### Joining population datasets with seizure incidents and seized contraband amounts datasets

In [74]:
### stores the population data but drops the "Year" column so there is no overlap post-merging
pop_clean = calif_pop.loc[:, calif_pop.columns!= "Year"]

### merges population data with incidents and drug seizures data
calif_incidents = pd.merge(calif_seizures, pop_clean, how = "left", on = "MonthYear")
calif_drugs = pd.merge(calif_drugs, pop_clean, how = "left", on = "MonthYear")

In [75]:
calif_incidents.head(3)

,MonthYear,Year,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total,Population
0,01-2018,2018,710,3,2,99,141,88,71,0,0,0,1114,119828
1,02-2018,2018,614,1,1,91,105,104,70,2,0,0,988,119760
2,03-2018,2018,727,3,3,110,157,111,85,12,0,0,1208,120263

In [76]:
calif_drugs.head(3)

,MonthYear,Year,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total,Population
0,01-2018,2018,67.6,1.81,1324.8720,8301.861,1117.163,0.00,0.0,0.0,10813.31,119828
1,02-2018,2018,234.6,0.60,1579.3230,2448.614,2393.541,8.40,0.0,0.0,6665.08,119760
2,03-2018,2018,6.2,741.80,1090.3116,7079.928,1896.368,105.76,0.0,0.0,10920.37,120263

#### Calculating rates

In [77]:
### adds new column to store rate in both the datasets
calif_incidents["Rate"] = " "
calif_drugs["Rate"] = " "

### loop runs through each row
for i in range (0, 36):
    
    ### calculates and stores rates
    calif_incidents["Rate"][i] = round(calif_incidents["Total"][i]/calif_incidents["Population"][i] * 10000) 
    calif_drugs["Rate"][i] = round(calif_drugs["Total"][i]/calif_drugs["Population"][i] * 10000)

<ipython-input-77-aa98041d433e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calif_incidents["Rate"][i] = round(calif_incidents["Total"][i]/calif_incidents["Population"][i] * 10000)
<ipython-input-77-aa98041d433e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calif_drugs["Rate"][i] = round(calif_drugs["Total"][i]/calif_drugs["Population"][i] * 10000)

In [78]:
calif_incidents.head(3)

,MonthYear,Year,CellPhone,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Tobacco,Butane_Oil,Suboxone,Fentanyl,Total,Population,Rate
0,01-2018,2018,710,3,2,99,141,88,71,0,0,0,1114,119828,93
1,02-2018,2018,614,1,1,91,105,104,70,2,0,0,988,119760,82
2,03-2018,2018,727,3,3,110,157,111,85,12,0,0,1208,120263,100

In [79]:
calif_drugs.head(3)

,MonthYear,Year,Cocaine,Hash,Heroin,Marijuana,Methamphetamine,Butane_Oil,Suboxone,Fentanyl,Total,Population,Rate
0,01-2018,2018,67.6,1.81,1324.8720,8301.861,1117.163,0.00,0.0,0.0,10813.31,119828,902
1,02-2018,2018,234.6,0.60,1579.3230,2448.614,2393.541,8.40,0.0,0.0,6665.08,119760,557
2,03-2018,2018,6.2,741.80,1090.3116,7079.928,1896.368,105.76,0.0,0.0,10920.37,120263,908

#### Displaying results

In [80]:
### selects specific columns to display
calif_incidents_rates = calif_incidents[["MonthYear", "Year", "Population", "Total", "Rate"]]

### renames columns
calif_incidents_rates = calif_incidents_rates.rename(columns = {"Population": "Calif_Pop", "Total": "Calif_Total", "Rate": "Calif_Incidents_Rate"})

In [81]:
calif_incidents_rates

   MonthYear  Year  Calif_Pop  Calif_Total Calif_Incidents_Rate
0    01-2018  2018     119828         1114                   93
1    02-2018  2018     119760          988                   82
2    03-2018  2018     120263         1208                  100
3    04-2018  2018     120119         1074                   89
4    05-2018  2018     120720         1122                   93
5    06-2018  2018     121087         1095                   90
6    07-2018  2018     121441          952                   78
7    08-2018  2018     121794          982                   81
8    09-2018  2018     121601          947                   78
9    10-2018  2018     121248         1100                   91
10   11-2018  2018     120853         1036                   86
11   12-2018  2018     120433         1012                   84
12   01-2019  2019     119704         1182                   99
13   02-2019  2019     119582          909                   76
14   03-2019  2019     119974         1021                   85
15   04-2019  2019     120353         1040                   86
16   05-2019  2019     120036         1121                   93
17   06-2019  2019     120123         1086                   90
18   07-2019  2019     120093         1029                   86
19   08-2019  2019     119977         1099                   92
20   09-2019  2019     120204         1180                   98
21   10-2019  2019     120227         1036                   86
22   11-2019  2019     119880          918                   77
23   12-2019  2019     119572          903                   76
24   01-2020  2020     119594         1012                   85
25   02-2020  2020     119457          918                   77
26   03-2020  2020     118956          980                   82
27   04-2020  2020     114654         1013                   88
28   05-2020  2020     113273         1059                   93
29   06-2020  2020     110553          937                   85
30   07-2020  2020     103615          822                   79
31   08-2020  2020      99501          770                   77
32   09-2020  2020      96816          972                  100
33   10-2020  2020      96421          963                  100
34   11-2020  2020      96228          764                   79
35   12-2020  2020      94131          573                   61

In [82]:
### selects specific columns to display
calif_drugs_rates = calif_drugs[["MonthYear", "Year", "Population", "Total", "Rate"]]

### renames columns
calif_drugs_rates = calif_drugs_rates.rename(columns = {"Population": "Calif_Pop", "Total": "Calif_Total", "Rate": "Calif_Drugs_Rate"})

In [83]:
calif_drugs_rates

   MonthYear  Year  Calif_Pop  Calif_Total Calif_Drugs_Rate
0    01-2018  2018     119828     10813.31              902
1    02-2018  2018     119760      6665.08              557
2    03-2018  2018     120263     10920.37              908
3    04-2018  2018     120119      4143.93              345
4    05-2018  2018     120720      5675.17              470
5    06-2018  2018     121087     24338.20             2010
6    07-2018  2018     121441      6108.24              503
7    08-2018  2018     121794      4926.30              404
8    09-2018  2018     121601      5135.43              422
9    10-2018  2018     121248      4867.13              401
10   11-2018  2018     120853      5285.14              437
11   12-2018  2018     120433      6867.53              570
12   01-2019  2019     119704      6626.60              554
13   02-2019  2019     119582      4351.13              364
14   03-2019  2019     119974      5673.50              473
15   04-2019  2019     120353      7053.24              586
16   05-2019  2019     120036     10158.20              846
17   06-2019  2019     120123      8330.20              693
18   07-2019  2019     120093      4632.40              386
19   08-2019  2019     119977      7209.08              601
20   09-2019  2019     120204      6719.50              559
21   10-2019  2019     120227      4633.48              385
22   11-2019  2019     119880      5410.40              451
23   12-2019  2019     119572      7577.20              634
24   01-2020  2020     119594      8282.74              693
25   02-2020  2020     119457      6121.09              512
26   03-2020  2020     118956      3919.37              329
27   04-2020  2020     114654      5347.41              466
28   05-2020  2020     113273      5512.57              487
29   06-2020  2020     110553      5073.71              459
30   07-2020  2020     103615      8231.92              794
31   08-2020  2020      99501     17200.83             1729
32   09-2020  2020      96816      6271.33              648
33   10-2020  2020      96421      7749.35              804
34   11-2020  2020      96228      9045.48              940
35   12-2020  2020      94131      8901.38              946

### Exporting all results

In [84]:
florida_incidents.to_csv("final_data/florida/incidents.csv", index = False)
florida_drugsalc.to_csv("final_data/florida/drugsalc.csv", index = False)
texas_incidents.to_csv("final_data/texas/incidents.csv", index = False)
calif_incidents.to_csv("final_data/california/incidents.csv", index = False)
calif_drugs.to_csv("final_data/california/drugs.csv", index = False)